{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-company:pyfb_company_company_list' %}">{% trans "company listing" %}</a></p>
<table class="table">
<tr>
<td>ID</td><td>{% trans "link" %}</td>
    <td>{% trans "name" %}</td>
    <td>{% trans "contact name" %}</td>
    <td>{% trans "contact phone" %}</td>
    <td>{% trans "customer balance" %}</td>
    <td>{% trans "supplier balance" %}</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.contact_name }}</td>
    <td>{{ object.contact_phone }}</td>
    <td>{{ object.customer_balance }}</td>
    <td>{{ object.supplier_balance }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-company:pyfb_company_company_create' %}">{% trans "create new company" %}</a>
{% endblock %}
